			.container {
				padding-bottom: 20px;
			}
			.background {
				background-color:blue;
				 -webkit-animation: random 5s infinite;
     			animation: random 10s infinite;
				}
				@keyframes  random {
    			15% { background-color: #E5CCFF; } 
    			30% { background-color: #9999FF; } 
    			45% { background-color: #99FFFF; } 
    			60% { background-color: #CCE5FF; }
    			75% { background-color: #CCFFFF; }  
			}
			#audioplayer1
			{
				display: none;
			}
			.paragraph {
				color: white;
			}
			.paragraphy{
				color: white;
			}
			

			.fontsize{
				size:8px, 50px;
			}

			#img4 {
				background-image: url('https://s-media-cache-ak0.pinimg.com/564x/f2/5b/6f/f25b6f1eb0c6280c9db0a56b43523cbd.jpg');

